<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <script
            crossorigin="anonymous"
            src="https://kit.fontawesome.com/38cd4014df.js"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-grid.css" rel="stylesheet">
    <link href="css/bootstrap-reboot.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/owl.theme.default.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <title>MyProject | Sign up</title>
</head>
<body>

<div class="container-fluid col-lg-5 col-md-6 col-sm-10 mt-2 mb-1 text-center signup-container">
    <div class="col-12 text-center form-header">
        <div class="form-logo col-12 mb-3 m-0 px-0">
            <img class="logo-img" height="120" src="/img/logo/handy-bg.png" width="350">
        </div>
        <h3 class="col-12 form-title">We would be happy to know what you think about us.<br>
            Please help us to improve ourselves</h3>
    </div>

    <form class="col-12 form-group d-inline-block e-form" method="post">
        <textarea class="col-12 form-control e-input" cols="40" name="feedback" placeholder="Write your opinion" required rows="10"
                  style="resize: none"></textarea>
        <input class="col-12 form-control mb-2 e-submit" name="req" type="submit" value="Send">
        <a class="card-link col-12 form-control font-weight-bold" href="/dashboard">Back to Dashboard</a>
    </form>
</div>


<script src="js/bootstrap.bundle.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>